<div *ngIf="item">
  <div>ITEM SETTINGS: </div>
  
  <div>
    <span>Item Name: </span>
    <span>
      <input
        type='text'
        placeholder='Item Name'
        [(ngModel)]='item.name'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div *ngIf="item.type !== DraggedElementType.dateTime && item.type !== DraggedElementType.multiSelect && item.type !== DraggedElementType.singleSelect">
    <span>Item Value: </span>
    <span>
      <input
        type='text'
        placeholder='Item Value'
        [(ngModel)]='item.value'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

</div>