<h1>{{ sectionSettings.title }}</h1>

<table mat-table [dataSource]="sectionData" class="mat-elevation-z8 w-100">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let colIndex = index;">

    <td mat-cell *matCellDef="let element; let rowIndex = index;" class="td-style">
      <div *ngIf="element[column].type != draggedElementEnum.none" fxLayout="row" class="h-100">

        <div
          [ngClass]="{'drop-zone': showDropZones}"
          class="left-droppable"
          (dragover)="onDragOver($event, rowIndex, colIndex - 1)"
          (dragenter)="toggleClass($event)"
          (dragleave)="toggleClass($event)"
          (drop)="onDrop($event, false, false, true)"
        ></div>

        <div fxLayout="column" class="w-100 h-100">
          <div
            [ngClass]="{'drop-zone': showDropZones}"
            class="above-droppable"
            (dragover)="onDragOver($event, rowIndex, colIndex)"
            (dragenter)="toggleClass($event)"
            (dragleave)="toggleClass($event)"
            (drop)="onDrop($event, true, false, false)"
          ></div>

          <div
            *ngIf="element[column].type === draggedElementEnum.text"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <label for="textInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <input
                id="textInput"
                type='text'
                placeholder='Enter Text'
                [(ngModel)]='element[column].value'
                (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.number"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <label for="numberInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <input
                id="numberInput"
                type='number'
                placeholder='Enter Number'
                [(ngModel)]='element[column].value'
                (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.dateTime"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <label for="dateTimeInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <input
                id="dateTimeInput"
                type='date'
                [(ngModel)]='element[column].value.date'
                (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              <input type="time" [(ngModel)]='element[column].value.time' (ngModelChange)="selectItem(element[column], colIndex, rowIndex)"/>
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.multiSelect"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <label for="multiSelectInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <div id="multiSelectInput" *ngFor="let item of element[column].value; let i = index;">
                <input
                  type="checkbox"
                  [id]="'item'+i"
                  [name]="'item'+i"
                  [(ngModel)]='item.checked'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)">

                <label [for]="'item'+i">
                  <input
                    placeholder="Enter Option"
                    [(ngModel)]='item.value'
                    (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item [disabled]="i === 0" (click)="moveSelectedItemUp(rowIndex, colIndex, i)">
                        <mat-icon>move_up</mat-icon>
                        <span>Move Up</span>
                      </button>
                      <button mat-menu-item [disabled]="i === element[column].value.length - 1" (click)="moveSelectedItemDown(rowIndex, colIndex, i)">
                        <mat-icon>move_down</mat-icon>
                        <span>Move Down</span>
                      </button>
                      <button mat-menu-item (click)="removeSelectItem(rowIndex, colIndex, i)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>

                </label>
              </div>
              <div><button (click)="addItemToSelect(rowIndex, colIndex)">Add Option</button></div>
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.singleSelect"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <mat-label>
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </mat-label>

              <mat-radio-group>
                <div *ngFor="let item of element[column].value; let i = index;">
                  <mat-radio-button
                    [value]="item.checked"
                    [checked]="item.checked"
                    (change)="changeSelectSingleItem(i, element[column], colIndex, rowIndex)">
                    <input [(ngModel)]="item.value">
                  </mat-radio-button>

                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [disabled]="i === 0" (click)="moveSelectedItemUp(rowIndex, colIndex, i)">
                      <mat-icon>move_up</mat-icon>
                      <span>Move Up</span>
                    </button>
                    <button mat-menu-item [disabled]="i === element[column].value.length - 1" (click)="moveSelectedItemDown(rowIndex, colIndex, i)">
                      <mat-icon>move_down</mat-icon>
                      <span>Move Down</span>
                    </button>
                    <button mat-menu-item (click)="removeSelectItem(rowIndex, colIndex, i)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>

                </div>
              </mat-radio-group>

              <div><button (click)="addItemToSelect(rowIndex, colIndex)">Add Option</button></div>
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.multimedia"
            class="draggable-element w-100 h-100"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (dragend)="onDragEnd()"
            (click)="selectItem(element[column], colIndex, rowIndex)"
            >
            <span>
              <label for="multimediaInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <div>{{ element[column].value.name }}</div>
                <input
                  id="multimediaInput"
                  type="file"
                  hidden
                  #fileInput
                  (change)="onSelectMultimedia(($any($event)).target.files[0], element[column], colIndex, rowIndex)" />
                <button (click)="fileInput.click()">Choose File</button>
            </span>
          </div>


          <div
            [ngClass]="{'drop-zone': showDropZones}"
            class="below-droppable"
            (dragover)="onDragOver($event, rowIndex + 1, colIndex)"
            (dragenter)="toggleClass($event)"
            (dragleave)="toggleClass($event)"
            (drop)="onDrop($event, true, false, false)"
          ></div>
        </div>

        <div
          [ngClass]="{'drop-zone': showDropZones}"
          class="right-droppable"
          (dragover)="onDragOver($event, rowIndex, colIndex + 1)"
          (dragenter)="toggleClass($event)"
          (dragleave)="toggleClass($event)"
          (drop)="onDrop($event, false, false, true)"
        ></div>
      </div>

      <div *ngIf="element[column].type === draggedElementEnum.none"
        class="all-droppable"
        (dragover)="onDragOver($event, rowIndex, colIndex)"
        (drop)="onDrop($event, false, true, false)"
      ></div>

    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
