<h1>{{ sectionSettings.title }}</h1>

<table mat-table [dataSource]="sectionData" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let colIndex = index;">
    
    <td mat-cell *matCellDef="let element; let rowIndex = index;">
      <div *ngIf="element[column].type != draggedElementEnum.none">
        <div
          class="above-droppable"
          (dragover)="onDragOver($event, rowIndex, colIndex)"
          (drop)="onDrop()"
        ></div>

        <div>
          <div
            class="left-droppable"
            (dragover)="onDragOver($event, rowIndex, colIndex - 1 > 0 ? colIndex : 0)"
            (drop)="onDrop()"
          ></div>

          <div
            *ngIf="element[column].type === draggedElementEnum.text"
            class="draggable-element"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (click)="selectItem(element[column], colIndex, rowIndex)" 
            >
            <span>
              <label for="textInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <input
                id="textInput"
                type='text'
                placeholder='Enter Text'
                class='input-field'
                [(ngModel)]='element[column].value' 
                (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.number"
            class="draggable-element"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (click)="selectItem(element[column], colIndex, rowIndex)" 
            >
            <span>
              <label for="numberInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <input
                id="numberInput"
                type='number'
                placeholder='Enter Number'
                class='input-field'
                [(ngModel)]='element[column].value' 
                (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
            </span>
          </div>

          <div
            *ngIf="element[column].type === draggedElementEnum.dateTime"
            class="draggable-element"
            draggable="true"
            (dragstart)="onDragStart($event, colIndex, rowIndex)"
            (click)="selectItem(element[column], colIndex, rowIndex)" 
            >
            <span>
              <label for="dateTimeInput">
                <input
                  placeholder="Enter Label"
                  [(ngModel)]='element[column].name'
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
              </label>
              <div class='input-field'>
                <input
                  id="dateTimeInput"
                  type='date'
                  [(ngModel)]='element[column].value.date' 
                  (ngModelChange)="selectItem(element[column], colIndex, rowIndex)" />
                <input type="time" [(ngModel)]='element[column].value.time' (ngModelChange)="selectItem(element[column], colIndex, rowIndex)"/>
              </div>
            </span>
          </div>

          <div
            class="right-droppable"
            (dragover)="onDragOver($event, rowIndex, colIndex + 1)"
            (drop)="onDrop()"
          ></div>

        </div>

        <div
          class="below-droppable"
          (dragover)="onDragOver($event, rowIndex + 1, colIndex)"
          (drop)="onDrop()"
        ></div>
      </div>

      <div *ngIf="element[column].type === draggedElementEnum.none"
        class="all-droppable"
        (dragover)="onDragOver($event, rowIndex, colIndex)"
        (drop)="onDrop(true)"
      ></div>

    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>