.example-draggable {
  border-style: solid;
  font-weight: normal;
}

.above-droppable {
  width: 100%;
  min-height: 25px;
  margin-bottom: 2px;
  border: 2px solid white;
}

.below-droppable {
  width: 100%;
  min-height: 25px;
  margin-top: 2px;
  border: 2px solid white;
}

.left-droppable {
  width: 25px;
  margin-right: 2px;
  border: 2px solid white;
}

.right-droppable {
  width: 25px;
  margin-left: 2px;
  border: 2px solid white;
}

.all-droppable {
  float: left;
  padding: 46px;
  width: 85%;
  background: gray;
}

.draggable-element {
  border: solid black;
}

.td-style {
  padding-right: 24px;
  height: 0;
}
