<div *ngIf="item && item.type !== DraggedElementType.none">
  <div>ITEM SETTINGS: </div>
  
  <div>
    <span>Item Name: </span>
    <span>
      <input
        type='text'
        placeholder='Item Name'
        [(ngModel)]='item.name'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div>
    <span>Item Required: </span>
    <span>
      <input
        type='checkbox'
        [(ngModel)]='item.settings.required'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div *ngIf="item.type === DraggedElementType.text || item.type === DraggedElementType.number">
    <span>Item Value: </span>
    <span>
      <input
        type='text'
        placeholder='Item Value'
        [(ngModel)]='item.value'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div *ngIf="item.type === DraggedElementType.dateTime">
    <span>Date: </span>
    <span>
      <input
        type='date'
        [(ngModel)]='$any(item.value).date'
        (ngModelChange)="updateItem()" />
    </span>

    <div>
      <span>Time: </span>
      <input
        type="time" 
        [(ngModel)]='$any(item.value).time'
        (ngModelChange)="updateItem()" />
    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.multiSelect">
    <span>Options: </span>
    <div *ngFor="let option of $any(item.value)">
      <span>
        <input
          type='checkbox'
          [(ngModel)]='option.checked'
          (ngModelChange)="updateItem()" />

          <input
            placeholder="Enter Option"
            [(ngModel)]='option.value'
            (ngModelChange)="updateItem()" />
      </span>

    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.singleSelect">
    <span>Options: </span>
    <div *ngFor="let option of $any(item.value); let i = index;">
      <span>
        <mat-radio-button
          [value]="option.checked"
          [checked]="option.checked"
          (change)="updateSingleSelect(i)">
          <input [(ngModel)]="option.value" (ngModelChange)="updateItem()" />
        </mat-radio-button>
      </span>

    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.multimedia">
    <span>File: {{ $any(item).value?.name || '' }} </span>
    <span>
      <input
        #fileInput
        hidden
        type='file'
        placeholder='Choose File'
        (change)="updateMultimedia(($any($event)).target.files[0])" />
      <button (click)="fileInput.click()">Choose File</button>
    </span>
  </div>

</div>