<div *ngIf="item && item.type !== DraggedElementType.none">
  <div>{{ config.heading }} </div>
  
  <div>
    <span>{{ config.itemNameLabel }}</span>
    <span>
      <input
        type='text'
        [placeholder]='config.itemNamePlaceholder'
        [(ngModel)]='item.name'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div>
    <span>{{ config.itemRequiredLabel }}</span>
    <span>
      <input
        type='checkbox'
        [(ngModel)]='item.settings.required'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div *ngIf="item.type === DraggedElementType.text || item.type === DraggedElementType.number">
    <span>{{ config.itemValueLabel }}</span>
    <span>
      <input
        type='text'
        [placeholder]='config.itemValuePlaceholder'
        [(ngModel)]='item.value'
        (ngModelChange)="updateItem()" />
    </span>
  </div>

  <div *ngIf="item.type === DraggedElementType.dateTime">
    <span>{{ config.dateLabel }}</span>
    <span>
      <input
        type='date'
        [(ngModel)]='$any(item.value).date'
        (ngModelChange)="updateItem()" />
    </span>

    <div>
      <span>{{ config.timeLabel }}</span>
      <input
        type="time" 
        [(ngModel)]='$any(item.value).time'
        (ngModelChange)="updateItem()" />
    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.multiSelect">
    <span>{{ config.multiSelectLabel }}</span>
    <div *ngFor="let option of $any(item.value)">
      <span>
        <input
          type='checkbox'
          [(ngModel)]='option.checked'
          (ngModelChange)="updateItem()" />

          <input
            [placeholder]="config.multiSelectPlaceholder"
            [(ngModel)]='option.value'
            (ngModelChange)="updateItem()" />
      </span>

    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.singleSelect">
    <span>{{ config.singleSelectLabel }}</span>
    <div *ngFor="let option of $any(item.value); let i = index;">
      <span>
        <mat-radio-button
          [value]="option.checked"
          [checked]="option.checked"
          (change)="updateSingleSelect(i)">
          <input
            [placeholder]="config.singleSelectPlaceholder"
            [(ngModel)]="option.value"
            (ngModelChange)="updateItem()" />
        </mat-radio-button>
      </span>

    </div>
  </div>

  <div *ngIf="item.type === DraggedElementType.multimedia">
    <span>{{ config.fileLabel }} {{ $any(item).value?.name || '' }} </span>
    <span>
      <input
        #fileInput
        hidden
        type='file'
        placeholder='Choose File'
        (change)="updateMultimedia(($any($event)).target.files[0])" />
      <button (click)="fileInput.click()">{{ config.chooseFileButtonText }}</button>
    </span>
  </div>

</div>