<div fxLayoutAlign="start start" class="w-100">
  <div fxLayout="column" fxLayoutAlign="start center" class="panel-widths">
    <h4 class="w-100">Item Types</h4>
    <div
      *ngIf="config.draggableElements.showText"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.text)">
      <mat-icon class="icon-style">{{ config.draggableElements.textIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.textLabel }}</p>
    </div>
    <div
      *ngIf="config.draggableElements.showNumber"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.number)">
      <mat-icon class="icon-style">{{ config.draggableElements.numberIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.numberLabel }}</p>
    </div>
    <div
      *ngIf="config.draggableElements.showDateAndTime"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.dateTime)">
      <mat-icon class="icon-style">{{ config.draggableElements.dateAndTimeIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.dateAndTimeLabel }}</p>
    </div>
    <div
      *ngIf="config.draggableElements.showMultiSelect"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.multiSelect)">
      <mat-icon class="icon-style">{{ config.draggableElements.multiSelectIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.multiSelectLabel }}</p>
    </div>
    <div
      *ngIf="config.draggableElements.showSingleSelect"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.singleSelect)">
      <mat-icon class="icon-style">{{ config.draggableElements.singleSelectIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.singleSelectLabel }}</p>
    </div>
    <div
      *ngIf="config.draggableElements.showMediaAndFiles"
      draggable="true"
      class="draggable-item-type"
      fxLayout="row"
      fxLayoutAlign="start center"
      (dragend)="toggleDropZone(false)"
      (dragstart)="onDragNewItemStart(DraggedElementType.multimedia)">
      <mat-icon class="icon-style">{{ config.draggableElements.mediaAndFilesIcon }}</mat-icon>
      <p class="text-font m-0">{{ config.draggableElements.mediaAndFilesLabel }}</p>
    </div>
  </div>

  <div fxLayout="column" class="w-100 center-section">
    <div *ngFor="let section of allSections; let i = index;" class="w-100">
      <div
        [ngClass]="{'drop-zone': showSectionDropZones}"
        class="section-droppable"
        (dragover)="onDragOver($event, i - 1)"
        (dragenter)="toggleClass($event)"
        (dragleave)="toggleClass($event)"
        (drop)="onDropSection()"
      ></div>

      <section
        class="section-border"
        draggable="true"
        (dragstart)="onDragSection(i)"
        (dragend)="onDragSectionEnd()"
        (click)="onSelectSection(i, $event)"
        (toggleDropZone)="toggleDropZone($event)"
        [showDropZones]="showItemDropZones | async"
        [section]="section"
        [typeOfDraggedElement]="draggedElementType"
        [itemChangedFromSettings]="selectedItemChanged"
        [userDraggingSection]="userDraggingSection"
        [itemMovedFromOtherSection]="itemToAddToOtherSection"
        (dragBetweenSections)="setDataForDragBetweenSections($event)"
        (selectedItem)="onSelectedItemChange($event)"
        (removeFromSectionItemCameFrom)="removeItem($event)"
        >
      </section>

      <div
        [ngClass]="{'drop-zone': showSectionDropZones}"
        class="section-droppable"
        (dragover)="onDragOver($event, i + 1)"
        (dragenter)="toggleClass($event)"
        (dragleave)="toggleClass($event)"
        (drop)="onDropSection()"
      ></div>
    </div>
  </div>

  <item-settings
    *ngIf="config.showItemSettingsPane"
    class="panel-widths"
    [item]="selectedItem"
    [config]="config.itemSettingsPane"
    (updatedItem)="onUpdateSelectedItem($event)">
  </item-settings>

  <section-settings
    *ngIf="config.showSectionSettingsPane"
    class="panel-widths"
    [sectionSettings]="selectedSectionSettings"
    [config]="config.sectionSettingsPane"
    (updatedSection)="onUpdateSelectedSection($event)">
  </section-settings>
</div>
