.example-draggable {
  border-style: solid;
  font-weight: normal;
}

.above-droppable {
  padding: 20px;
}

.below-droppable {
  padding: 20px;
}

.left-droppable {
  float: left;
  padding: 20px;
}

.draggable-element {
  float: left;
}

.right-droppable {
  float: left;
  padding: 20px;
}


table {
  width: 100%;
}

button {
  margin: 16px 8px;
}