<input
  type="text"
  draggable="true"
  placeholder="Text Input"
  (dragstart)="onDragNewItemStart(DraggedElementType.text)"
/>

<div *ngFor="let section of allSections; let i = index;">
  <section
    [section]="section"
    [typeOfDraggedElement]="draggedElementType"
    [itemChangedFromSettings]="selectedItemChanged"
    [itemMovedFromOtherSection]="itemToAddToOtherSection"
    (dragBetweenSections)="setDataForDragBetweenSections($event)"
    (selectedItem)="onSelectedItemChange($event)"
    (removeFromSectionItemCameFrom)="removeItem($event)"
    >
  </section>
</div>

<br><br>
<settings
  [item]="selectedItem"
  (updatedItem)="onUpdateSelectedItem($event)">
</settings>